body{  
  margin: 5px;
  overflow: hidden;
  background-color: black;
}

.spanspacing
{
  width: 50%;
}

wrapper{
  min-height: 100vh;
  background-color: black;
}

.topcontainer
{
  margin: 10px;
}

wrapper2 {
  min-height: 100vh;
  background-color: black;
  background-image: url(https://cdn.betwaygroup.com/medusa-production/1001/the-hunch-mobile.webp);
  background-repeat: no-repeat;
  background-position:top;
  background-size:cover;
}

#canvas {
    min-height: 100%;
}

#mainstage {
    overflow: auto;
}


#footer 
{
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    height: 150px;
    margin-top: -151px;
    font-size: 16;
    text-rendering: auto;
    position: fixed;

    background-repeat: no-repeat;
    background-attachment: fixed;

    opacity: 1;
    background-color: rgba(0, 0, 0,0.7);
    z-index: 1000;
}

.FooterItem1
{
  display: flex;
  align-items: center;
  margin: auto;
  font-size: medium;
  color:aliceblue;
}

.FooterItem2
{
  display: flex;
  align-items: center;
  margin: auto;
  font-size: x-large;
  font-weight: bold;
  color:aliceblue;
}

.FooterItem3
{
  display: flex;
  align-items: center;
  margin: auto;
  font-size: large;
  font-weight: bold;
  color:aliceblue;
}

.FooterItem3Button
 {
  width: 300px;
 }

 .nav-tabs > li > a{
 border-radius:0px;
  }


p 
{
    margin-left: 40px;
    margin-right: 80px;
}


