.modal-footer {
border: none !important;
}

a {
    color: green;
    text-decoration: underline dotted green 2px;
}

.btn{    
  margin-bottom : 10px;
  font-weight: bold;  
  border-radius: 0 0 0 0;
  }

  .loginButton
  {
    Width: 200px;
  }

  .loginfeedback
  {

      color:red;

  }